on:
  release:
    types: [published]

name: publish-to-npm

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile
      - run: pnpm build

      - run: pnpm publish --access=public --provenance --no-git-checks
        if: ${{!github.event.release.prerelease}}

      - run: pnpm publish --tag prerelease --provenance --no-git-checks
        if: ${{github.event.release.prerelease}}
